/*font-family: 'Oswald', sans-serif;*/
body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #e7e7e7;
    height: 2em;
    text-align: center;
}

header p {
    margin: 0;
    padding: 4px 0;
}

body .content {
    display: flex;
}

body .content .all-divs {
    width: 16.6%;
    color: #ffffff;
}

.content .mixin {
    background-color: #0080cb;
    height: auto;
}

.content .effects {
    background-color: #72616f;
}

.content .monkey {
    background-color: #ea8567;
}

.content .mobile {
    background-color: #105091;
}

.content .tutorial {
    background-color: #e74d47;
}

.content .clock {
    background-color: #a2c5bf;
}

